.background {
  viewport-fill: blue;
}
.hours {
	x: 305;
	y: 165;
}
.minutes {
	x: 305;
	y: 210;
}
.stat {
  font-size: 25;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
}
.steps {
}
.time {
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
}
#wrapper {
  height: 100%;
  width: 100%;
}

