.background {
  viewport-fill: blue;
  
}
#wrapper {
  height: 100%;
  width: 100%;
}
#myLabel {
  fill: white;
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  width: 100%;
  x: 50%;
  y: 50%+40;
}
